<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="GeneratorSolowek.Server.FileGenerator">
        <endpoint address="http://localhost:2222/"
                  binding="basicHttpBinding"
                  contract="GeneratorSolowek.Contracts.IFileGenerator"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>